In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/euzoe/OneDrive/Desktop/REPATH/Unicorn_Companies.csv')

In [3]:
df.head(15)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5
1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1
3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1
4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2
5,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2012,$571.26M,None,26,8,None
6,Checkout.com,$40,5/2/2019,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST...",2012,$1.83B,None,15,4,None
7,Instacart,$39,12/30/2014,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By...",2012,$2.686B,None,29,12,None
8,Databricks,$38,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates...",2013,$3.497B,None,29,8,None
9,Revolut,$33,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital",2015,$1.716B,None,31,6,None
10,FTX,$32,7/20/2021,Bahamas,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",None,2018,$1.829B,Acq,40,3,1
11,Fanatics,$27,6/6/2012,United States,Jacksonville,E-commerce & direct-to-consumer,"SoftBank Group, Andreessen Horowitz, Temasek H...",1995,$4.19B,None,21,10,None
12,Chime,$25,3/5/2019,United States,San Francisco,Fintech,"Forerunner Ventures, Crosslink Capital, Homebrew",2013,$2.599B,Divestiture,24,9,1
13,BYJU's,$21,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S...",2008,$5.183B,None,45,19,None
14,Xiaohongshu,$20,3/31/2016,China,Shanghai,E-commerce & direct-to-consumer,"GGV Capital, ZhenFund, Tencent",2013,$917.5M,None,9,3,None

# DATA CLEANING AND PREPARATION

In [4]:
df['Valuation ($B)']=df['Valuation ($B)'].str.replace('$', '').astype(float)
df['Date Joined']=pd.to_datetime(df['Date Joined'])

C:\Users\euzoe\AppData\Local\Temp/ipykernel_7004/3964259185.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valuation ($B)']=df['Valuation ($B)'].str.replace('$', '').astype(float)

In [5]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5
1,SpaceX,100.3,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None
2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1
3,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1
4,Epic Games,42.0,2018-10-26,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2

In [6]:
df.columns=df.columns.str.replace(' ', '_')

In [7]:
df.head()

,Company,Valuation_($B),Date_Joined,Country,City,Industry,Select_Inverstors,Founded_Year,Total_Raised,Financial_Stage,Investors_Count,Deal_Terms,Portfolio_Exits
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5
1,SpaceX,100.3,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None
2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1
3,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1
4,Epic Games,42.0,2018-10-26,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2

In [8]:
df.isnull().sum()

Company              0
Valuation_($B)       0
Date_Joined          0
Country              0
City                 0
Industry             0
Select_Inverstors    0
Founded_Year         0
Total_Raised         0
Financial_Stage      0
Investors_Count      0
Deal_Terms           0
Portfolio_Exits      0
dtype: int64

# To save the cleaned data as CSV

df.to_csv('unicorn_companies.csv')

In [9]:
knowpyth_ger=(df['Country']=='China')

# Check the number of times a particular investor appears in each company

In [27]:
df.loc[df['Select_Inverstors'].str.contains('Accel')].count()

Company              65
Valuation_($B)       65
Date_Joined          65
Country              65
City                 65
Industry             65
Select_Inverstors    65
Founded_Year         65
Total_Raised         65
Financial_Stage      65
Investors_Count      65
Deal_Terms           65
Portfolio_Exits      65
dtype: int64

In [26]:
df.Select_Inverstors.nunique()

1006